Redirect 301 /gate/2008/sw http://suika.fam.cx/~wakaba/-temp/sw4/sw

<Limit POST PUT DELETE>
  Require group suikawiki
  AuthType Basic
  AuthUserFile /home/wakaba/public_html/pbin/accounts/data/htpasswd
  AuthGroupFile /home/wakaba/public_html/pbin/accounts/data/htgroup
  AuthName "SuikaWiki"
</Limit>
