/* Font sizes */

.normal,
.sw-weak.normal {
  font-size: 100%;
  vertical-align: var(--valign);
}

.smaller,
.sw-weak.smaller {
  font-size: 80%;
  vertical-align: var(--valign);
}

.quarter,
.sw-weak.quarter {
  font-size: 50%;
  vertical-align: var(--valign);
}

.sw-weak.smaller,
.sw-weak.quarter {
  color: inherit;
  background: transparent;
}

sw-lines.normal,
sw-lines.smaller,
sw-lines.quarter {
  vertical-align: -0.5em;
}

sw-lines.normal > sw-line,
sw-lines.smaller > sw-line,
sw-lines.quarter > sw-line {
  line-height: 1.0;
}

sup.normal,
sup.smaller,
sup.quarter {
  vertical-align: 0.5em;
  line-height: 1.0;
}

sub.normal,
sub.smaller,
sub.quarter {
  vertical-align: -0.5em;
  line-height: 1.0;
}

sup.inline.smaller {
  vertical-align: 0.2em;
}

sub.inline.smaller {
  vertical-align: -0.2em;
}

/* Emphasis styles */

em.sesame {
  font-style: normal;
  -webkit-text-emphasis: sesame;
}
em.open-sesame {
  font-style: normal;
  -webkit-text-emphasis: open sesame;
}
em.dot {
  font-style: normal;
  -webkit-text-emphasis: dot;
}
em.open-dot {
  font-style: normal;
  -webkit-text-emphasis: open dot;
}
em.triangle {
  font-style: normal;
  -webkit-text-emphasis: triangle;
}
em.open-triangle {
  font-style: normal;
  -webkit-text-emphasis: open triangle;
}
em.double-circle {
  font-style: normal;
  -webkit-text-emphasis: double-circle;
}
em.open-double-circle {
  font-style: normal;
  -webkit-text-emphasis: open double-circle;
}

em.italic,
cite.italic {
  font-style: italic;
  -webkit-text-emphasis: none;
}

cite.italic::before,
cite.italic::after {
  content: "";
}

u.double {
  text-decoration-style: double;
}

/* Character arts (AA) */

/* span.aa: AA element */ /* Default: For 2ch style AAs */ span.aa, pre.aa {
  font-family: "MS PGothic AA", "MS PGothic", "Mona";
  font-size: 12pt;
  white-space: normal;
  line-height: 1.0;
}

pre.aafig {
  font-family: monospace;
  line-height: 1.0;
  white-space: pre;
}

.hw {
  -moz-binding: url(//suika.suikawiki.org/www/style/text/width.xbl#halfwidth);
}

.fw {
  -moz-binding: url(//suika.suikawiki.org/www/style/text/width.xbl#fullwidth);
}

/* Code fragments */

pre.code {
  font-family: "Courier New", monospace;
}

/* ISO/IEC 10646 style character names */
.charname {
  background-color: transparent;
  color: inherit;
  text-transform: lowercase;
  font-variant: small-caps;
  font-family: "Courier New", monospace;
  letter-spacing: 0.2em;
}

.charname var {
  text-transform: none;
  font-variant: normal;
}

.comment {
  color: green;
  background-color: transparent;
}

/* DOM attributes *?
dfn .DOMa {
  color: black;
  background-color: #FFFFD2;
}

/* DOM constants */
dfn .DOMc {
  color: black;
  background-color: #DDFFD2;
}

/* DOM methods */
dfn .DOMm {
  color: black;
  background-color: #D9E6F8;
}

/* DOM parameters */
dfn .DOMp {
  background-color: #FEE6F8; 
  color: black;
}

/* Infoset properties */
.InfoProp, .infoprop {
  font-family: sans-serif;
  font-weight: bolder;
}

.InfoProp:before, .infoprop:before {
  content: " [";
}

.InfoProp:after, .infoprop:after {
  content: "] ";
}

/* Examples */

.sw-example pre.example {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

pre.example:before {
  display: block;
  content: "例: ";
  font-weight: bolder;
  font-family: sans-serif;
}

.sw-example pre.example:before {
  content: "";
}

pre.continue.example:before {
  content: "例 (続き): ";
}

pre.bad.example:before {
  content: "悪い例: ";
}

pre.continue.bad.example:before {
  content: "悪い例 (続き): ";
}

pre.invalid.example:before {
  content: "非妥当な例: ";
}

pre.continue.invalid.example:before {
  content: "非妥当な例 (続き): ";
}

pre.illegal.example:before {
  content: "違法な例: ";
}

pre.continue.illegal.example:before {
  content: "違法な例 (続き): ";
}

pre.deprecated.example:before {
  content: "非推奨の例: ";
}


pre.continue.deprecated.example:before {
  content: "非推奨の例 (続き): ";
}

/*

Partially taken from
<https://suika.suikawiki.org/~wakaba/wiki/sw/n/Wiki++Style++SuikaWiki++HTML++Semantic>.

Copyright 2002-2021 Authors.

Permission is granted to copy, distribute and/or modify this document
under the terms of the GNU Free Documentation License, Version 1.1 or
any later version published by the Free Software Foundation; with no
Invariant Sections, with no Front-Cover Texts, and no Back-Cover
Texts. A copy of the license is available from
<https://suika.suikawiki.org/c/gnu/fdl>.

*/