@import 'sw-classes';

html {
  padding: 0.5em;
}

html, td {
  line-height: 2.2;
}

body {
  position: relative;
  max-width: 50em;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  display: block;
  text-align: right;
}

.nav.tools {
  z-index: 600;
  position: relative;
  margin-right: 0.5em;
  margin-left: 0.5em;
}

.nav.tools > * {
  background-color: white;
}

.nav.swe-names {
  margin-left: 0.5em;
  font-size: 150%;
  font-weight: bolder;
  font-family: sans-serif;
  text-align: left;
}

.nav.swe-info,
.nav.swe-ids {
  margin: 0 auto;
  border: gray 0.3em ridge;
  padding: 0.5em 0.6em;
  width: 60%;
  line-height: 1.6;
  background-color: #f3f3f3;
  color: black;
  text-align: left;  
}

.nav.swe-ids ul {
  margin-top: 0;
}

.footer {
  display: table;
  margin-top: 1em;
  border-top: gray thin solid;
  padding-top: 0.3em;
  width: 100%;
  box-sizing: border-box;
}

.footer menu {
  display: table-cell;
  margin: 0;
  padding: 0 1em 0 0;
  text-align: right;
  font-size: 80%;
  position: relative;
  z-index: 10000;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.5em 0;
  padding: 0.1em 0.2em;
  line-height: 1.5;
  color: #004000;
  background-color: transparent;
  font-weight: bolder;
  font-family: sans-serif;
}

h1 {
  background-image: url(../images/sw.png) /* 107x59 */;
  background-position: middle left;
  background-repeat: no-repeat;
  padding-left: 120px;
  min-height: 59px;
  line-height: 2.0;
  font-size: 150%;
}

h2, h3 {
  font-size: 150%;
}

h4 {
  font-size: 120%;
  border-bottom: solid 0.1em;
  padding-bottom: 0.1em;
}

h5 {
  font-size: 120%;
}

h6 {
  font-size: 100%;
}

.sw-heading-anchor {
  display: none;
  float: right;
  font-size: 80%;
  font-weight: normal;
  color: gray;
}

.section:hover > * > .sw-heading-anchor,
:target > * > .sw-heading-anchor {
  display: block;
}

.article, .section, section {
  display: block;
  margin: 0 0 2em 0;
  padding: 0 1em 0 2em;
}

p + .article, p + .section,
ul + .article, ul + .section,
ol + .article, ol + .section,
dl + .article, dl + .section,
table + .article, table + .section,
blockquote + .article, blockquote + .section,
.sw-comment-p + .article, .sw-comment-p + .section,
.sw-ed + .article, .sw-ed + .section,
ins + .article, ins + .section,
del + .article, del + .section {
  margin-top: 2em;
}

.article > h1, .section > h1,
.article > h2, .section > h2,
.article > h3, .section > h3,
.article > h4, .section > h4,
.article > h5, .section > h5,
.article > h6, .section > h6,
.article > .article, .article > .section,
.section > .article, .section > .section {
  margin-left: -1em;
}

.article:last-child, .section:last-child {
  margin-bottom: 0.5em;
}

blockquote {
  margin: 0.5em 0 0.5em 2em;
  border-left: #004000 double 0.3em;
  padding: 0.2em 0.5em;
  background-color: #f7fff7;
  color: black;
}

/* TOC */

.toc {
  margin-top: 1em;
  margin-left: -1em;
  margin-bottom: 1em;
}

.toc > h1 {
  margin-left: -1em;
  padding: 0.1em 0.2em;
  background: none;
  font-size: 150%;
  min-height: 0;
  line-height: 1.5;
}

.toc > ol {
  padding: 0;
  -webkit-column-width: 13em;
  column-width: 13em;
}

.toc > ol li {
  display: block;
  -webkit-column-break-inside: avoid;
  column-break-inside: avoid;
}

.toc > ol ol {
  margin-left: 0;
  padding-left: 1em;
}

.toc > ol li li a::before {
  content: "\2798  ";
}

.toc a {
  display: block;
  padding: 0.2em 0.5em;
  text-decoration: none;
}

.toc a:not(:hover) {
  border-bottom-color: transparent;
}

.toc code {
  word-break: break-all;
}

/* Paragraph-level blocks */

.sw-comment-p {
  display: block;
  margin: 1em 0 1em 5em;
  padding: 0.5em 1.3em;
  color: black;
  background-color: #F5FFF5;
  text-indent: 0;
  font-size: 90%;
  line-height: 2.2;
}

.sw-ed {
  display: block;
  margin: 1em 0;
  border: medium solid;
  padding: 0.5em 1em 0.5em 2em;
  color: rgb(229, 0, 0);
  background-color: transparent;
  text-indent: -1em;
}

.sw-ed:before {
  content: "@@ ";
}

p {
  margin: 0;
  text-indent: 1em;
}

pre {
  margin: 0;
  white-space: pre-wrap;
}

/* Lists */

ul, ol, dl {
  margin: 0;
  text-indent: 0;
  font-size: 90%;
  line-height: 2;
}

li li li ul,
li li li ol,
li li li dl {
  font-size: 100%;
}

ul li, ol li {

}

/* Tables */

table {
  margin: 0 0.5em;
  border: 1px solid gray;
  border-spacing: 0;
  font-size: 90%;
}

thead, tfoot, th {
  font-weight: bolder;
  font-family: sans-serif;
}

td, th {
  padding: 0.1em 0.2em;
  border: 1px solid #E0E0E0;
  empty-cells: show;
  text-indent: 0;
  line-height: 2;
}

th[scope="row"], th[scope="rowgroup"] {
  text-align: left;
  border-right: 1px solid #C0C0C0;
}
th[scope="col"], th[scope="colgroup"] {
  text-align: center;
  border-bottom: 1px solid #C0C0C0;
}

tr:hover {
  background-color: #ffecf5;
  color: black;
}

td:hover {
  background-color: #f4fffa;
  color: black;
}


/* Edits */

ins {
  border-bottom: solid 0.1em;
  padding-bottom: 0.1em;
  background-color: rgb(255, 255, 153);
  color: black;
  text-decoration: none;
}

del {
  background-color: #FFBBBB;
  color: black;
  font-size: 80%;
  text-decoration: line-through;
}

.article > ins,
.article > del,
.section > ins,
.section > del,
blockquote > ins,
blockquote > del {
  display: block;
  margin: 0.5em 0;
  padding: 0.2em 0.5em;
}

/* Anchors */

:link, :visited {
  border-bottom: solid 0.1em #babaff;
  padding-bottom: 0.1em;
  text-decoration: none;
}

.sw-anchor:link, .sw-anchor:visited {
  border-bottom-style: dashed;
  color: inherit;
  background-color: transparent;
}

/*
.sw-anchor + .sw-anchor,
.sw-anchor + em,
.sw-anchor + ins,
em + .sw-anchor,
em + em,
em + ins,
ins + .sw-anchor,
ins + em,
ins + ins {
  margin-left: 0.3em;
}
*//* Split border-bottoms */

.sw-anchor:visited {
  border-bottom-color: #EE82EE;
}

.sw-anchor-internal {
/*  color: inherit;
  background-color: transparent; */
  border-bottom-style: none;
}

.sw-anchor-external {
  word-break: break-all;
}

.sw-anchor-end {
  display: block;
  position: absolute;
  left: 0.4em;
  top: auto;
  border-style: none;
  color: gray;
  text-indent: 0;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
}

figure .sw-anchor-end {
  left: auto;
  right: 0.4em;
}

a:hover,
.sw-anchor:hover,
.sw-anchor-internal:hover,
.sw-anchor-external:hover,
.nav.tools > *:hover {
  background-color: #FFA;
  color: #000080;
  border-bottom-style: solid;
}

:target > h1, :target > h2, :target > h3,
:target > h4, :target > h5, :target > h6 {
  background-color: #FFA;
}

:hover > .sw-anchor-end,
.sw-anchor-end:target {
  background-color: #FFA;
  color: #000080;
  border-style: none;
}

[rel~=bookmark]:not(.sw-anchor-end) {
  border-style: none !important;
  color: inherit !important;
  background-color: transparent !important;
}

/* Figures */

figure {
  display: block;
  position: relative;
  margin: 1em 3em;
  border: 1px #004000 solid;
  padding: 0.3em 2.5em 0.3em 1em;
  line-height: 1.5;
}

figcaption {
  display: block;
  margin: 0;
  text-align: center;
  font-weight: bolder;
  font-family: sans-serif;
}

figure > p:first-child {
  text-indent: 0;
}

figure.list {
  color: black;
  background-color: #FCFCFC;
  border-style: none;
}

figure.list.short {
  -webkit-column-width: 10em;
  column-width: 10em;
}

figure.list > ul {
  padding-left: 2em;
}

figure.list > ul > li {
  display: block;
  margin-left: 0;
  padding-left: 0;
  text-indent: -1em;
}

figure.list > ul > li::before {
  content: "\25BB  \A0";
}

figure.quote {
  margin: 0.5em 0 0.5em 0;
  border-style: none;
  border-left: #004000 double 0.3em;
  padding: 0.2em 3em 0.2em 1em;
  background-color: #f7fff7;
  color: black;
}

figure.quote > figcaption {
  text-align: left;
}

figure.quote > figcaption > p {
  text-indent: 0;
}

figure.quote > blockquote {
  border-style: none;
}

figure.corollary {
  margin-top: 0;
  margin-bottom: 0;
  border-style: none;
  font-size: 90%;
  line-height: 2;
}

figure.corollary::before {
  display: block;
  position: absolute;
  left: -2em;
  width: 2em;
  top: 0;
  content: "★";
  color: #004000;
  text-align: center;
  font-size: 50%;
}

figure.corollary > *:first-child > .sw-anchor-end {
  display: block;
  position: absolute;
  left: -2em;
  width: 2em;
  top: 1em;
  color: #004000;
  text-align: center;
  font-size: 70%;
}

figure.important {
  display: block;
  margin: 1em 0;
  border: 0.5em solid;
  padding: 0.5em 1em 0.5em 2em;
  border-color: rgb(229, 0, 0);
  background-color: transparent;
  color: inherit;
  text-indent: -1em;
  line-height: 2.0;
}

figure.important > p {
  text-indent: 1em;
}

figure.steps {
  margin-left: 0;
  margin-right: 0;
  border-style: none;
  border-left: #400080 1px solid;
  padding-left: 0;
  color: black;
  background-color: #FCFCFC;
}

figure.steps ol {
  margin: 0.3em 0;
  border-left: #400080 1px solid;
  padding-left: 3em;
}

figure.steps > ol {
  border-left: none;
}

figure.states svg {
  height: 15em;
}

figure.states .edge, #triangle {
  stroke: gray;
}

figure.states .edge {
  stroke-width: 1;
  marker-end: url(#triangle);
}

figure.states .node {
  text-align: center;
}

figure.states .node rect {
  fill: transparent;
  stroke: black;
  stroke-width: 1;
}

figure.railroad {
  margin: 0.8em 0 0.8em 3em;
  border-style: none;
  padding-left: 1em;
  color: black;
  background-color: #FCFCFC;
  line-height: 2.0;
  font-size: 90%;
}

figure.railroad svg.railroad-diagram {
}

figure.railroad svg.railroad-diagram path {
  stroke-width: 3;
  stroke: black;
  fill: rgba(0, 0, 0, 0);
}

figure.railroad svg.railroad-diagram text,
figure.railroad svg.railroad-diagram .text {
  font: 14px monospace;
  text-anchor: middle;
  overflow: visible;
}

figure.railroad svg.railroad-diagram text code,
figure.railroad svg.railroad-diagram .text code {
  font: 14px monospace;
}

figure.railroad svg.railroad-diagram text.label {
  text-anchor: start;
}

figure.railroad svg.railroad-diagram text.comment {
  font: bold 12px monospace;
}

figure.railroad svg.railroad-diagram rect {
  stroke-width: 3;
  stroke: black;
  fill: #e0ffe0;
}

figure.sequence {
  border-style: none;
}

figure.sequence > figcaption {
  text-align: left;
}

figure.sequence dd {
  position: absolute;
  display: block;
  margin: 0;
  padding: 0;
  font-size: 0.9em;
  font-size: 0.9rem;
  line-height: 1.2;
  min-width: 3em;
}

figure.sequence line {
  stroke: black;
  stroke-width: 2;
/*  stroke-dasharray: 6, 2; */
}

figure.sequence .actor-timeline {
  stroke-width: 1;
}

figure.sequence .text {
  font-size: 0.9em;
  font-size: 0.9rem;
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
  overflow: visible;
}

figure.sequence .textbox {
  stroke: black;
  stroke-width: 2;
  fill: white;
}

.figure.sequence .note-label.textbox {
  stroke-width: 1;
  fill: rgba(255, 255, 255, 0.8);
}

/* Examples */

.sw-example {
  margin: 0.8em 0 0.8em 3em;
  border-left: #004000 double 3px;
  padding-left: 1em;
  color: black;
  background-color: #FCFCFC;
  line-height: 2.0;
  font-size: 90%;
}

/* Code fragments */

code, samp, pre.code {
  color: #800000;
  font-family: "Courier New", monospace;
}

.short code {
  word-break: break-all;
}

/* List of references */

.sw-refs {
  background-color: #FDFDEC;
  line-height: 1.5;
  padding: 0.3em;
  margin-bottom: 0.5em;
}

.sw-refs > ul {
  margin: 0;
  padding-left: 0;
}

.sw-refs li {
  display: block;
  margin-left: 0;
  padding-left: 0;
}

.sw-refs .sw-anchor-end {
  position: static;
  font-size: 100%;
  display: inline;
}

.sw-refs .sw-anchor-external-container {
  font-size: 70%;
}

.sw-refs .sw-anchor-external-container a {
  border-style: none;
  padding-bottom: 0;
  text-decoration: underline;
}

/* Citations */

cite {
  font-style: normal;
}

cite:before {
  content: "『";
}

cite:after {
  content: "』";
}

.sw-csection {

}

.sw-csection:before {
  content: "「";
}

.sw-csection:after {
  content: "」";
}

.sw-src {
  font-style: normal;
  color: gray;
}

.sw-src:before {
  content: " [";
}

.sw-src:after {
  content: "] ";
}

/* Inline quotations */

q:before {
  content: " 「";
}

q:after {
  content: "」 ";
}

q q:before {
  content: " 『";
}

q q:after {
  content: "』 ";
}

/* Emphases and important words */

strong {

}

em {
/*
  border-bottom: solid 0.1em;
  padding-bottom: 0.1em;
*/
  font-style: normal;
  -webkit-text-emphasis: sesame;
  text-emphasis: sesame;
}

em:lang(en) {
  font-style: italic;
  -webkit-text-emphasis: none;
  text-emphasis: none;
}

.sw-weak {
  font-size: smaller;
  color: gray;
  background-color: transparent;
}

/* Ruby annotations */

ruby {
  -webkit-ruby-position: before;
  ruby-position: before;
}

ruby.sw-rubyb {
  -webkit-ruby-position: after;
  ruby-position: after;
}

rp {
  display: none;
}

rt {
  text-align: center;
}

rt ~ rt, .sw-rubyb > rt {
  ruby-position: after; /* XXX */
}

/* Other inlines */

dfn {
  font-style: normal;
  font-weight: bolder;
  font-family: sans-serif;
}

dfn rt {
  font-weight: normal;
}

var sub, var sup {
  font-style: normal;
}

/* Entity references (obsolete) */
.sw-replace {
  color: red;
}

.sw-replace:before, .sw-replace:after {
  content: " ";
}

/* Edit forms */

form {
  border: blue dashed 0.1em;
  padding: 0.3em 0.7em;
}

form p {
  text-indent: 0;
}

textarea {
  width: 98%;
  height: 10em;
  padding: 0.3em;
}

textarea[name=text] {
  height: 30em;
}

textarea[name=names] {
  height: 4em;
}

input[name=title] {
  width: 98%;
}

.body-area {
  display: table;
  width: 100%;
}

.body-area > .text-toolbar {
  display: table-cell;
  width: 3em;
  vertical-align: top;
  text-align: right;
  line-height: 1.0;
}

.body-area > .text-toolbar > button {
  min-width: 3em;
}

.body-area textarea {
  box-sizing: border-box;
  height: 100vh;
}

/* Sidebar */

body > aside {
}

@media (min-width: 50em) {
  body.swe-has-sidebar {
    max-width: none;
    width: auto;
    padding-right: 10em;
  }

  body.swe-has-sidebar > aside {
    display: block;
    position: absolute;
    top: 7em;
    right: 0em;
    width: 10em;
    margin: 0;
  }
}

@media (min-width: 65em) {
  body.swe-has-sidebar {
    max-width: none;
    width: 60em;
    padding-right: 10em;
  }

  body.swe-has-sidebar > aside {
    display: block;
    position: absolute;
    left: 50em;
    top: 7em;
    margin: 0;
  }
}

.swe-page-names {
  display: none;
  margin: 0;
  padding: 0 0 0 0.5em;
  font-size: 70%;
  line-height: 1.5;
}

.swe-page-names::before {
  content: "Names: ";
  display: block;
  margin-left: -0.5em;
  font-weight: bolder;
  font-size: 120%;
  color: #004000;
}

.swe-page-names li {
  display: block;
  margin: 0;
}

@media (min-width: 50em) {
  .swe-page-names {
    display: block;
  }
}

/* Advertisements */

.swe-ad {
  display: none;
  overflow: hidden;
}

@media (min-width: 50em) {
  .swe-ad {
    display: block;
  }
}

.swe-ad-amazon {
}

/* Search form */

#cse-search-form {
  margin-left: 2em;
}

#cse-search-form form {
  border-style: none;
  padding-left: 0;
  width: auto;
}

#cse-search-form table,
#cse-search-form th,
#cse-search-form td {
  border-style: none;
  line-height: 1.0;
}

#cse-search-form tr:hover,
#cse-search-form table td:hover,
#cse-search-form table th:hover {
  background-color: transparent;
}

#cse-search-form .gsc-thinWrapper {
  width: auto;
  float: none;
}

#cse-search-form .gsc-tabsArea {
  margin: 0;
}

#cse-search-form .gsc-tabHeader.gsc-tabhActive {
  margin-top-color: #004000;
}

#cse-search-form .gsc-webResult .gsc-result {
  padding: 0;
  border-bottom: none;
}

#cse-search-form .gsc-webResult .gsc-result td {
  line-height: 2.0;
}

#cse-search-form .gs-title {
  text-align: left;
  height: auto;
  text-decoration: none;
}

#cse-search-form .gs-snippet {
  line-height: 1.2;
}

#cse-search-form .gs-visibleUrl {
/*  display: none; */
  line-height: 1.1;
}

#cse-search-form .gs-per-result-labels {
  display: none;
  line-height: 1.1;
}

/* Links */

.swe-links {
  padding: 0;
  text-indent: 0;
}

.swe-links li {
  display: inline;
  list-style: none;
  margin: 0 1em 0;
  padding: 0;
}

/* Bookmarklet */

.suikawiki-bookmarklet-post,
.suikawiki-bookmarklet-post body {
  margin: 0;
  padding: 0;
}

.suikawiki-bookmarklet-post form {
  border-style: none;
  padding: 0.3em 0.6em;
}

.suikawiki-bookmarklet-post h1 {
  background: none;
  margin: 0;
  padding: 0.3em 0.6em;
  font-weight: bolder;
  font-size: 100%;
  text-align: left;
  color: #004000;
  line-height: 1.2;
  min-height: 0;
}

.suikawiki-bookmarklet-post p {
  margin: 0;
  text-align: left;
  line-height: 1.2;
}

.suikawiki-bookmarklet-post .buttons { margin-top: 1em; text-align: center }

.suikawiki-bookmarklet-post input:not([type=checkbox]) { width: 100% }

.suikawiki-bookmarklet-post input[name=title-lang] {
  width: 5em;
}

.suikawiki-bookmarklet-post button { min-width: 6em }
.suikawiki-bookmarklet-post .ok { font-weight: bolder }
.suikawiki-bookmarklet-post .cancel { font-size: smaller }

/* 

Copyright 2002-2014 Wakaba <wakaba@suikawiki.org>.

This library is free software; you can redistribute it and/or modify
it under the same terms as Perl itself.

*/
